<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qrcb.admin.mapper.SysDataDateMapper">

    <resultMap id="sysDataDateMap" type="com.qrcb.admin.api.entity.SysDataDate">
        <id property="id" column="ID"/>
        <result property="schema" column="SCHEMA"/>
        <result property="tableName" column="TABLE_NAME"/>
        <result property="colName" column="COL_NAME"/>
        <result property="realTime" column="REAL_TIME"/>
        <result property="dataDate" column="DATA_DATE"/>
        <result property="dataDateTime" column="DATA_DATE_TIME"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="createUser" column="CREATE_USER"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="updateUser" column="UPDATE_USER"/>
        <result property="delFlag" column="DEL_FLAG"/>
    </resultMap>
</mapper>
